html,body{
    height: 100vh;
}


body{
    background-image: url(Skyline.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.navbar {
    background-image: linear-gradient(to right, rgb(255, 188, 252), rgb(118, 194, 245));
}

.card-header-title {
    font-size: 1.25rem;
    color: #ffffff; 
    background-image: linear-gradient(to left,rgb(255, 188, 252), rgb(118, 194, 245));
    
  }
  