
.navbar {
    background-image: linear-gradient(to right, rgb(255, 188, 252), rgb(118, 194, 245));
}

body {
    background-image: url(./assets/background-img.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

#pageTitle {
    color: white;
    border-radius: 5px;
    background-color: rgb(255, 188, 252);
}

button {
    width: 200px;
}

.my-list-btn {
    position: absolute;
}

.anime-img {
    max-height: 150px;
    position: absolute;
    left: 2rem;
}

.modal-card {
    background-color: rgb(248, 217, 222);
    border: solid rgb(218, 98, 134);
    border-radius: 5px;
    color: #CC313D;
    display: none;
    z-index: 999;
}

.anime-info {
    cursor: default;
}

/* .anime-title {
    cursor: pointer;
} */