
.navbar {
    background-image: linear-gradient(to right, rgb(255, 188, 252), rgb(118, 194, 245));
}

body {
    background-image: url(./assets/background-img.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

#pageTitle {
    color: white;
    margin-top:20px;
    border-radius: 5px;
    background-color: rgb(255, 188, 252);
}

button {
    margin: 1rem;
    width: 200px;
}

.my-list-btn {
    display: flex;
    position: absolute;
    right: 0px;
}

.anime-img {
    max-height: 150px;
    position: absolute;
    left: 2rem;
}

.anime-info {
    text-align: center;
}

.modal-card {
    background-color: pink;
    color: white;
    display: none;
    position: relative;
}

.anime-info {
    cursor: default;
}

.box {
    max-height: 200px;
}